<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.charuniverse.curious">

    <application
        android:name=".CuriousApplication"
        android:allowBackup="true"
        android:icon="@drawable/img_curiousity"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img_curiousity"
        android:supportsRtl="true"
        android:theme="@style/Theme.Curious">

        <service
            android:name=".util.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>